* {
  font-family: 'Varela Round', sans-serif;
}

body {
  padding-top: 6em;
}

.logo {
  text-align: center;
  margin-bottom: 2em;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.115385em;
  text-transform: uppercase;
  color: gray;
}

.nav a {
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
}

.content {
	margin-top: 4em;
}

p {
  line-height: 1.8em;
  font-size: 18px;
  color: hsl(0, 0%, 27%);
}

.content img {
  float: right;
  margin: 0 20px 20px 20px;
}

.footer {
  margin: 15em 0 5em 0em;
  text-align: center;
}

.centerBlock {
  margin: 0 auto;
  display: table;
}

.footer p {
  font-size: 14px;
}

.description {
  font-size: 16px;
}

.meta {
  font-size: 14px;
  color: black;
}

.post-title {
  color: #000033;
  letter-spacing: normal;
}

.post-text {
  text-align: justify;
}

@media (max-width: 760px) {
  
  .logo {
    margin-bottom: 4em;
  }

  .nav > li > a {
    padding: 10px 10px;
    letter-spacing: normal;
  }
}

@media (max-width: 400px) {
  
  .logo {
    margin-bottom: 4em;

  }
   
  .nav > li {
    float: none;
  }
   
  .nav > li > a {
    padding: 10px 100px;
    letter-spacing: normal;
    text-align: center;
  }
  
  .content img {
    float: none;
    margin: 0 0 40px 0;
    width: 100%;
  }
}