<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="centerBlock">
      <ul class="nav nav-pills">
  	    <li role="presentation" {% if page.title == "Home" %} class="active" {% endif %}>
  	      <a href="{{ site.baseurl }}">Home</a>
  	    </li>
  	    <li role="presentation"><a href="https://github.com/MessineseGianluca">Github</a></li>
        <li role="presentation"><a href="https://www.facebook.com/gmessinese">Facebook</a></li>
        <li role ="presentation"><a href="https://www.linkedin.com/in/gianlucamessinese/">Linkedin</a></li>
        <li role="presentation" {% if page.title == "Contact" %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}contact/">Contact me</a>
        </li>
        <li role="presentation">
          <a href="{{ site.baseurl }}file/Gianluca Messinese - Resume.pdf">Résumé</a>
        </li>
      </ul>
    </div>
  </div>
</div>
