<!DOCTYPE html>
<html>

  {% include my_head.html %}

<body>
  <div class="container-fluid">
    {% include my_header.html %}
    {% include my_info.html %}
    {{ content }}

  </div>

  <!-- Latest compiled and minified JQuery -->
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"   
          integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   
          crossorigin="anonymous">
  </script>
  
  <!-- Latest compiled and minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
  </script>
</body>
</html>
