<!DOCTYPE html>
<html>

  {% include my_head.html %}

<body>
  <div class="container-fluid">
    
    {% include my_logo.html %}
    
    {% include my_header.html %}
    
    <div class="row content">
      <div class="col-lg-6 col-lg-offset-3 col-xs-10 col-xs-offset-1">
        
        {{ content }}

      </div>   
    </div>
    
    {% include my_footer.html %}

  </div>

  <!-- compiled and minified JQuery -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" 
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" 
          crossorigin="anonymous"> 
  </script>
  
  <!-- Latest compiled and minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
  </script>
</body>
</html>
